.NAV{
   display: flex; 
   justify-content: space-evenly;
   text-align: center;
   padding: 10px;
   background-color: #fff;
}
.nav {
    gap: 20px;
}
a{
    color: #5b4282;
    font-size: 20px;
}
.body{
    background-color: #5b4282;
    height:600px;
    text-align: center;
}
.para{
    text-align: center;
    font-size: 40px;
    font-weight: 400px;
    color: #fff;
    padding-top: 40px;
}
.image{
    padding: 60px;
}
.parag{
    justify-content: ceter;
    text-align: center;
    font-size: 30px;
    font-weight: 10px;
    margin: 30px;
}
.look{
    justify-content: center;
    padding: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 20px;
  

}
.sectionA{
    background-color: #f9f9f9;
    border-bottom:  #f9f9f9 ;

}
.sectionB{
    text-align: center;
    padding: 50px;
    font-size: 25px;
}
.long{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
    
}
.content{
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
}
h2{
    font-size: 40px;
    padding-top: 20px;
}

.sectionC{
    padding: 50px;
}

.sectionD{
    padding: 50px;
    text-align: center;
    font-size: 20px;
}

.sectionE{
    padding: 10px;
    text-align: center;
    
}

.sectionF{
    text-align: center;
    padding: 10px;
}

.sectionG{
    text-align: center;
    padding: 10px;
}

.sectionH{
    text-align: center;
    padding: 10px;
}

.sectionI{
    text-align: center;
    padding: 10px;
}

.sectionsss{
    padding: 50px;
}

.sectionJ{
    text-align: center;
    font-size: 20px;
    justify-content: center;
    padding: 20px;
}
.foot{
    background-color: #5b4282;
    height: 100px;
}